/* Navigation Menu Styles */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #083b66;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: black;
    color: #6ac4eb;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #6ac4eb;
    color: white;
  }

/*------------------------------*/



/* Style for the header title */
.site-title {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}



/* Style for the logo on the header */
.sm-logo {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}