/* Navigation Menu Styles */
/* Set the background color of the top navigation */
.topnav {
    background-color: #010239;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: black;
    color: #B24801;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #B24801;
    color: black;
  }

/*------------------------------*/



/* Style for the header title */
.site-title {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}



/* Style for the logo on the header */
.sm-logo {
    width: 60%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


/* Organisation logos */
/* wrapper class */
.org-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px;
    flex-wrap: wrap;
    min-height: 140px;
    align-content: center;
}
/* innodems logo */
.innodems-logo {
    height: 40px;
}
/* ami logo */
.ami-logo {
  height: 50px;
}
/* sami logo */
.sami-logo {
    height: 50px;
}
/* idems logo */
.idems-logo {
    height: 40px;
}


/* Classes for pictures in team page */
/* sam's picture */
.sam-bio-pic {
  max-height: 200px;
}


/* Classes for pictures in team page */
/* kelvin's picture*/
.kelvin-bio-pic {
  max-height: 200px;
}

/* Classes for pictures in team page */
/* ateamate's picture*/
.ateamate-bio-pic {
  max-height: 200px;
}


/* Classes for pictures in team page */
/* jacob's picture*/
.jacob-bio-pic {
  max-height: 200px;
}


/* Create four equal columns that floats next to each other */
.team-column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */
.team-row:after {
  content: "";
  display: table;
  clear: both;
}



/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .team-column {
    width: 100%;
  }


/* Classes for text in team page */
/* person's name */
.person-name {
  font-size: 18px;
}

