.body{
background-color: #ccc;
font-family: 'Courier New', Courier, monospace;
font-weight: 700;
text-align: justify;
margin: auto;
width: 70%;
}

/* Navigation Menu Styles */

/* Set the background color of the top navigation */

.topnav {
  background-color: #010239;
  overflow: hidden;
  border-radius: 5%;
  width: 70%;
  float: right;
  margin-top: 30px;
    }

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: black;
  color: #B24801;
}

/* Add a color to the active/current link */

.topnav a.active {
  background-color: #B24801;
  color: black;
}

/*------------------------------*/

/* Style for the header title */

.site-title {
   
  /*width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;*/
  display: flex;
  flex-direction: column;
  float: left;
  width: 30%;
  height: 30px;
  }
  
  .separator {
  height: 200px;
  display: block;
}
/* Style for the logo on the header */

.sm-logo {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Organisation logos */

/* wrapper class */

.org-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 40px;
  flex-wrap: wrap;
  min-height: 140px;
  align-content: center;
 }

/* innodems logo */

.innodems-logo {
  height: 40px;
}

/* ami logo */

.ami-logo {
  height: 50px;
}

/* sami logo */

.sami-logo {
  height: 50px;
}

/* idems logo */

.idems-logo {
  height: 40px;
}

/* Classes for pictures in team page */

/* Create four equal columns that floats next to each other */

.team-column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */

.team-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */

@media screen and (max-width: 800px) {
  .team-column {
    width: 100%;
  }
}

/* Classes for pictures in team page */

/* sam's picture */

.sam-bio-pic {
  max-height: 250px;
}

/* kelvin's picture*/

.kelvin-bio-pic {
  max-height: 250px;
}

/* ateamate's picture*/

.ateamate-bio-pic {
  max-height: 250px;
}

/* jacob's picture*/

.jacob-bio-pic {
  max-height: 250px;
}


/* zach's picture*/

.zach-bio-pic {
  max-height: 250px;
}


/* Create four equal columns that floats next to each other */

.team-column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Clear floats after the columns */

.team-row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the four columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .team-column {
    width: 100%;
  }
}

/* Classes for text in team page */

/* person's name */

.person-name {
  font-size: 18px;
}

/* Accordion for all sessions */

/* Style the buttons that are used to open and close the accordion panel */

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}


/*Border box sizing*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/* Four columns side by side */
.column {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(151, 74, 2, 0.2);
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


.button:hover {
  background-color: #555;
}